<div class="btn-group">
    {% if cell.actions|length > buttonNum %}
        {% for action in cell.actions %}
            {% if loop.index0 <= buttonNum - 2 %}
                {% include 'LighthartGridBundle:Action:action.html.twig' with {'action': action} %}
            {% else %}
            {% endif %}
        {% endfor %}
        {% if loop.length > buttonNum - 2 %}
            {% for action in cell.actions %}
                {% if loop.index0 > buttonNum - 2 %}
                    {% include 'LighthartGridBundle:Action:action.html.twig' with {'action': action, 'xtra': 1} %}
                {% else %}
                {% endif %}
            {% endfor %}
            <button class="btn btn-xs btn-default dropdown-toggle lg-xtra-actions" data-toggle="dropdown" name="Extra Actions">
                <span class="fa fa-caret-right"></span>
            </button>
        {% endif %}
    {% else %}
        {% for action in cell.actions %}
            {% include 'LighthartGridBundle:Action:action.html.twig' with {'action': action} %}
        {% endfor %}
    {% endif %}
</div>