<div class="btn-group" style="width:{% if cell.actions|length > 4 %}{{ 24 * 4}}{% else %}{{ 24 * cell.actions|length}}{% endif %}px;">
    {% if cell.actions|length > 4 %}
        {% for action in cell.actions %}
            {% if loop.index0 <= 2 %}
                {% include 'LighthartGridBundle:Action:action.html.twig' with {'action': action} %}
            {% else %}
            {% endif %}
        {% endfor %}
        {% if loop.length > 2 %}
            {% for action in cell.actions %}
                {% if loop.index0 > 2 %}
                    {% include 'LighthartGridBundle:Action:action.html.twig' with {'action': action, 'xtra': 1} %}
                {% else %}
                {% endif %}
            {% endfor %}
            <button class="btn btn-xs btn-default dropdown-toggle lg-xtra-actions" data-toggle="dropdown">
                <span class="fa fa-caret-right"></span>
            </button>
        {% endif %}
    {% else %}
        {% for action in cell.actions %}
            {% include 'LighthartGridBundle:Action:action.html.twig' with {'action': action} %}
        {% endfor %}
    {% endif %}
</div>