{%- if cell.options.sort is defined -%}
    {% set val = app.request.cookies.get('lg-'~app.request.attributes.get('_route')~'-sort')|subcookie(cell.attr['data-role-lg-class'] ~'__'~ cell.attr['data-role-lg-field'])%}
        <span class="fa-stack pull-right lg-sort">
        <input type="hidden" class ="lg-sort" id="lg-sort-{{cell.attr['data-role-lg-class']}}__{{cell.attr['data-role-lg-field']}}" value="{{val}}"/>
        <span class="fa fa-sort fa-stack-1x" style="color:#999999"></span>
        {% if val == 'ASC' %}
            <span class="fa fa-sort-up fa-stack-1x" style="color:#000000"></span>
        {% elseif val == 'DESC' %}
            <span class="fa fa-sort-down fa-stack-1x" style="color:#000000"></span>
        {% else %}
        {% endif %}
    </span>
{% else %}
{%- endif -%}