{% block exportControl %}
    <div class="btn-group export-control">
        <a class="btn btn-xs btn-default" href="{{ path(app.request.attributes.get('_route'),
         app.request.attributes.get('_route_params')) }}/export">Export (CSV) <span class="fa fa-caret-down"></span></a>
{#         <button class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
            <span class="fa fa-caret-down"></span>
        </button>
        <ul class="dropdown-menu">
            <li>CSV</li>
            <li>PDF</li>
            <li>TSV</li>
        </ul> #}
    </div>
{% endblock exportControl %}