{% block header %}
    <div class="lg-grid-header row">
        <div class="col-sm-6-12 lg-grid-left">
            {% include 'LighthartGridBundle:Grid:exportControl.html.twig' %}
        </div>
        <div class="col-sm-6-12 lg-grid-right">
            {% set place = 'footer' %}
            {% include 'LighthartGridBundle:Grid:pagingControls.html.twig' %}
        </div>
    </div>
{% endblock header %}