{% block footer %}
    {% set place = 'footer' %}
    <div id="lg-{{place}}" class="container lg-{{place}} lg-controls">
        <div class="row lg-grid-footer">
            <div class="col-md-1-2 lg-left">
                {% include 'LighthartGridBundle:Grid:exportControl.html.twig' %}
                {% include 'LighthartGridBundle:Grid:resetControl.html.twig' %}
            </div>
            <div class="col-md-1-2">
                {% include 'LighthartGridBundle:Grid:pagingControls.html.twig' %}
            </div>
        </div>
    </div>
{% endblock footer %}