{% block footer %}
    {% set place = 'footer' %}
    <div id="lg-{{place}}" class="container lg-{{place}}">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid lg-grid-footer">
                <form class="navbar-form navbar-left lg-left" role="search">
                    {% include 'LighthartGridBundle:Grid:exportControl.html.twig' %}
                    {# &nbsp;&nbsp; #}
                    {% include 'LighthartGridBundle:Grid:resetControl.html.twig' %}
                </form>
                <form class="navbar-form navbar-right lg-right" role="search">
                        {% include 'LighthartGridBundle:Grid:pagingControls.html.twig' %}
                </form>
            </div>
        </nav>
    </div>
{% endblock footer %}