{% block footer %}
    {% set place = 'footer' %}
    <div class="container lg-grid-{{place}}">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <form class="navbar-form navbar-left lg-grid-left" role="search">
                    {% include 'LighthartGridBundle:Grid:exportControl.html.twig' %}
                </form>
                <form class="navbar-form navbar-right lg-grid-right" role="search">
                        {% include 'LighthartGridBundle:Grid:pagingControls.html.twig' %}
                </form>
            </div>
        </nav>
    </div>
{% endblock footer %}