{% block lgGrid %}
    {# used in blocks below #}
    {% spaceless %}
        <div class="lg">
            {% block lgGridheader %}
                {% include 'LighthartGridBundle:Grid:header.html.twig' %}
            {% endblock lgGridheader %}
            {% block lgGridTable %}
                {% include 'LighthartGridBundle:Grid:table.html.twig' %}
            {% endblock lgGridTable %}
            {% block lgGridfooter %}
                {% include 'LighthartGridBundle:Grid:footer.html.twig' %}
            {% endblock lgGridfooter %}
        </div>
    {% endspaceless %}
{% endblock lgGrid %}

{% block javascripts %}
    {% include 'LighthartGridBundle:Grid:javascripts.html.twig' %}
{% endblock javascripts %}
{% block stylesheets %}
    {% include 'LighthartGridBundle:Grid:stylesheets.html.twig' %}
{% endblock stylesheets %}