{% block header %}
    {% set place = 'header' %}
    <div id="lg-{{place}}" class="container lg-{{place}}">
        <nav class="navbar navbar-default lg-navbar" role="navigation">
            <div class="container-fluid">
                <form class="navbar-form navbar-left lg-left" role="search">
                    {% include 'LighthartGridBundle:Grid:searchControl.html.twig' %}
                    {% include 'LighthartGridBundle:Grid:newButton.html.twig' %}
                </form>
                <form class="navbar-form navbar-right lg-right" role="search">
                    {% include 'LighthartGridBundle:Grid:pagingControls.html.twig' %}
                </form>
            </div>
        </nav>
    </div>
{% endblock header %}