{% block header %}
    {% block flags %}
        {% include 'LighthartGridBundle:Grid:flags.html.twig' %}
    {% endblock flags %}
    {% set place = 'header' %}
    <div id="lg-{{place}}" class="container lg-{{place}} lg-controls">
        <div class="row lg-grid-header">
            <div class="col-md-1-2 lg-left">
                {% include 'LighthartGridBundle:Grid:searchControl.html.twig' %}
                {% include 'LighthartGridBundle:Grid:newButton.html.twig' %}
            </div>
            <div class="col-md-1-2">
                {% include 'LighthartGridBundle:Grid:pagingControls.html.twig' %}
            </div>
        </div>
    </div>
{% endblock header %}