{% block header %}
    {% block flags %}
        <div style="display:inline-block;">
        {% include 'LighthartGridBundle:Control:selector.html.twig' %}
        </div>
        <div style="display:inline-block;">
            &nbsp;
        </div>
        <div style="display:inline-block;">
        {% include 'LighthartGridBundle:Control:flags.html.twig' %}
        </div>
    {% endblock flags %}
    {% set place = 'header' %}
    <div id="lg-{{place}}" class="container lg-{{place}} lg-controls">
        <div class="row lg-grid-header">
            <div class="col-md-3-10 lg-left">
                {% include 'LighthartGridBundle:Control:searchControl.html.twig' %}
                {% block newButton %}
                {% include 'LighthartGridBundle:Control:newButton.html.twig' %}
                {% endblock newButton %}
                {% block addButton %}
                    {% include 'LighthartGridBundle:Control:addButton.html.twig' %}
                {% endblock addButton %}
            </div>
            <div class="col-md-3-10 lg-middle-controls-header">
                {% include 'LighthartGridBundle:Control:exportControl.html.twig' %}
                {% include 'LighthartGridBundle:Control:resetControl.html.twig' %}
            </div>
            <div class="col-md-4-10">
                {% include 'LighthartGridBundle:Control:pagingControls.html.twig' %}
            </div>
        </div>
    </div>
{% endblock header %}