{% block header %}
<div class="lg-grid-header debug-grid">
    <div class="col-sm-2-6">Actions</div>
    <div class="col-sm-2-6">Summary</div>
    <div class="col-sm-2-6">Pager</div>
</div>
{% endblock header %}