{% block header %}
    <div class="lg-grid-header row">
        {% block searchBlockControls %}
            <div class="col-sm-4-12">
                <span class="btn btn-xs btn-default lg-grid-btn-top grid-left">
                    <span class="fa fa-caret-square-o-right lg-grid-control-icon"></span>
                </span>
                <input type="text" class="lg-grid-search-input" placeholder="Search"/>
            </div>
        {% endblock searchBlockControls %}
        {% block exportControls %}
            <div class="col-sm-3-12">
                <div class="text-center">
                    <div class="btn-group export-control">
                        <a class="btn btn-xs btn-default">Export (CSV)</a>
                        <button class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            <span class="fa fa-caret-down"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>CSV</li>
                            <li>PDF</li>
                            <li>TSV</li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endblock exportControls %}
        {% block pagingControls %}
            <div class="col-sm-5-12">
                <div class="text-right">
                    {% block pageSizeSelector %}
                        {# <div class="col-sm-2-12"> #}
                        <span class="btn btn-xs btn-default lg-grid-btn-top"><input type="button" class="lg-grid-input-non-field" value="10"/> per page</span>
                        {# </div> #}
                    {% endblock pageSizeSelector %}
                    {% block resultCount -%}
                        {# <div class="col-sm-3-12"> #}
                        <span class="lg-grid-control-text">Results 10-20 of 1398</span>
                        {# </div> #}
                    {%- endblock resultCount %}
                    {# <div class="col-sm-1-12"></div> #}
                    {% block pageBackControls %}
                        <span class="btn-group">
                            {% block pageBack %}
                                <span class="btn btn-xs btn-default lg-grid-btn-top">
                                    <span class="fa fa-backward lg-grid-control-icon"></span>
                                </span>
                            {% endblock pageBack %}
                            {% block multipageBack %}
                                <span class="btn btn-xs btn-default lg-grid-btn-top">
                                    <span class="fa fa-play fa-rotate-180 lg-grid-control-icon"></span>
                                </span>
                            {% endblock multipageBack %}
                        </span>
                    {% endblock pageBackControls %}
                    {% block pageCounter %}
                        <input type="text" maxlength="4" id="lg-grid-page-input" class="lg-grid-page-input btn btn-xs lg-grid-btn-top" value="100"/>
                        <span class="lg-grid-control-text">of 1000</span>
                    {% endblock pageCounter %}
                    {% block pageForwardControls %}
                        <span class="btn-group">
                            {% block pageForward %}
                                <span class="btn btn-xs btn-default lg-grid-btn-top">
                                    <span class="fa fa-play lg-grid-control-icon"></span>
                                </span>
                            {% endblock pageForward %}
                            {% block multipageForward %}
                                <span class="btn btn-xs btn-default lg-grid-btn-top">
                                    <span class="fa fa-forward lg-grid-control-icon"></span>
                                </span>
                            {% endblock multipageForward %}
                        </span>
                    {% endblock pageForwardControls %}
                </div>
            {% endblock pagingControls %}
        </div>
    </div>
{% endblock header %}