{% block pageSizeSelector %}
    <span class="btn-group">
        <span class="btn btn-xs btn-default lg-grid-btn-top"><input type="button" class="lg-grid-input-non-field" value="10" id="lg-grid-{{place}}-results-per-page"/> per page <span class="fa fa-caret-down"></span></span>
    </span>
{% endblock pageSizeSelector %}