{% block pagingControls %}
            {% block resultCount -%}
                <span class="lg-grid-control-text">Results 10-20 of {{grid.total}}</span>
                &nbsp;
            {%- endblock resultCount %}
            {% block pageSizeSelector %}
                {% include 'LighthartGridBundle:Grid:pagingSizeSelector.html.twig' %}
                &nbsp;
            {% endblock pageSizeSelector %}
            {% include 'LighthartGridBundle:Grid:pagingButtons.html.twig' %}
{% endblock pagingControls %}
