{% block pagingControls %}
    <div class="row lg-right lg-paging-controls">
            {% include 'LighthartGridBundle:Grid:resultCounts.html.twig' %}
            {% include 'LighthartGridBundle:Grid:pagingSizeSelector.html.twig' %}
            {% include 'LighthartGridBundle:Grid:pagingButtons.html.twig' %}
    </div>
{% endblock pagingControls %}
