{% block pagingControls %}
    <div class="row">
        <div class="col-sm-3-12 col-sm-offset-4-12 text-center">
            {% block resultCount -%}
                <span class="lg-grid-control-text">Results 10-20 of 1398</span>
            {%- endblock resultCount %}
        </div>
        <div class="col-sm-1-12 text-center">
            {% block pageSizeSelector %}
                {% include 'LighthartGridBundle:Grid:pagingSizeSelector.html.twig' %}
            {% endblock pageSizeSelector %}
        </div>
        <div class="col-sm-4-12">
            {% include 'LighthartGridBundle:Grid:pagingButtons.html.twig' %}
        </div>
    </div>
{% endblock pagingControls %}
