{% block resetControl %}
        <div class="btn-group reset-control">
        <a class="btn btn-xs btn-default lg-reset" href="#">
            <span class="fa fa-refresh"></span> Reset Grid
        </a>
    </div>
{% endblock resetControl %}