{% block searchControl %}
    <div class="row">
        <div class="col-sm-6-12">
            <span class="btn btn-xs btn-default lg-grid-btn-top">
                <span class="fa fa-caret-square-o-right lg-grid-control-icon"></span>
            </span>
            <input type="text" class="lg-grid-search-input" placeholder="Search"/>
        </div>
        <div class="col-sm-1-12">
            <span class="btn btn-xs btn-default lg-grid-btn-top">
                <span class="fa fa-plus"></span> New
            </span>
        </div>
    </div>
{% endblock searchControl %}