{% block searchControl %}
    <button class="btn btn-xs btn-default">
        <span class="fa fa-caret-square-o-right"></span>
    </button>
    <div class="form-group lg-grid-search-input-margin">
        <input type="text" id="lg-grid-search-input"{% if grid.search %} class="lg-grid-filtered lg-grid-search-input" {% else %} class="lg-grid-search-input" {% endif %}placeholder="Search" value="{{grid.search}}"/>
    </div>
    <button class="btn btn-xs btn-default">
        <span class="fa fa-plus"></span> New{{-''-}}
    </button>
{% endblock searchControl %}