{% block searchControl %}
    <button class="btn btn-xs btn-default" id="lg-toggle-filter">
        <span class="fa {% if app.request.cookies.get('lg-filter-toggle') %}fa-chevron-up{% else %}fa-chevron-down{% endif %}"></span>
    </button>
    <div class="form-group lg-search-input-margin">
        <input type="text" id="lg-search-input"{% if grid.search %} class="lg-filtered lg-search" {% else %} class="lg-search" {% endif %}placeholder="Search"/>
    </div>
    {% if grid.newButton is defined %}
        <button class="btn btn-xs btn-default">
            <span class="fa fa-plus"></span> New{{-''-}}
        </button>
    {% endif %}
{% endblock searchControl %}