.lg-grid-table {
    width: 100%;
    max-width: 100%;
}

.lg-grid-header {
    background-color: #eeeeee;
    padding-bottom: 2px;
    margin-left: 0px;
    margin-right: 0px;
}

.lg-grid-footer {
    line-height: 20px;
    background: #eeeeee;
}

.lg-grid-page-input {
    width: 3em !important;
    max-width: 3em;
    margin-left: 2px;
    margin-right: 1px;
    padding: 0px;
    border: 1px;
}

.lg-grid-page-input {
    width: 3em !important;
    max-width: 3em;
    margin-left: 2px;
    margin-right: 1px;
    padding: 0px;
    border: 1px;
}

input.lg-grid-input-non-field {
    padding:0px;
    border: 0px;
    background: inherit;
}


.lg-grid-control-icon {
    border: 0px !important;
}

input.lg-grid-search-input {
    border-radius: 5px;
    max-width: 90%;
    width: 90%;
    text-indent: 4px;
    padding:0px;
    margin-left: 4px;
    background: #ffffff;
}

div.lg-grid-left {
    padding-left:0px;
    text-align:left;
}

div.lg-grid-right {
    padding-right:0px;
    text-align:right;
}

span.lg-grid-btn-top {
    vertical-align: top;
}

.lg-grid-control-text{
    padding: 1px 5px;
    font-size: 11px;
    line-height: 1.5;
    vertical-align: middle;
}