{% block exportControl %}
    {% if export is defined %}
        {% if export == 'all' %}
            {% set export = 1000 %}
        {% endif %}
        {% set lastPage = grid.total / export %}
        {% if lastPage <= 1 %}
            <div class="btn-group export-control">
                <a class="btn btn-xs btn-default" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'export': export})) }}">
                    Export (CSV)
                </a>
                </div>&nbsp;
            {% else %}
                <div class={% if place == "footer" %}"dropup btn-group"{% else %}"btn-group"{% endif %}>
                    <button class="btn btn-xs btn-default lg-btn-top lg-results-per-page dropdown-toggle dropup" id="lg-export-page" data-toggle="dropdown">
                        <span class="">Export CSV</span>
                        &nbsp;<span class={% if place == "footer" %}"fa fa-caret-up"{% else %}"fa fa-caret-down"{% endif %}></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        {% for pageNum in 0..lastPage %}
                            <li>
                                <a class="btn btn-xs btn-default" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'export': export, 'pageOffset': loop.index0 * export})) }}">{{-''-}}
                                Export Page {{ loop.index }} (CSV) <span class=""></span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            &nbsp;
        {% endif %}
    {% endif %}
{% endblock exportControl %}