{% block newButton -%}
    {%- if newPath is defined and newPath -%}
        <a href="{{newPath}}" class="btn btn-xs btn-default" id="lg-new-button">
            {%- if newIcon is defined and newIcon -%}
                <span class="fa {{newIcon}}"></span>
            {%- endif %} New
        </a>
    {%- endif -%}
{%- endblock newButton %}