{% block pagingControls %}
    <div class="row lg-right lg-paging-controls lg-paging-controls-{{place}}">
            {% include 'LighthartGridBundle:Control:resultCounts.html.twig' %}
            {% include 'LighthartGridBundle:Control:pagingSizeSelector.html.twig' %}
            {% include 'LighthartGridBundle:Control:pagingButtons.html.twig' %}
    </div>
{% endblock pagingControls %}
